!! ST
! special
*.foreground:   #e7e7e7
*.background:   #202020
*.cursorColor:  #e7e7e7

! black
*.color0:       #262626
*.color8:       #737373

! red
*.color1:       #ff3534
*.color9:       #ff4f4c

! green
*.color2:       #35b723
*.color10:      #82ff6e

! yellow
*.color3:       #eae804
*.color11:      #dfff52

! blue
*.color4:       #362be4
*.color12:      #5767ff

! magenta
*.color5:       #fa9cf8
*.color13:      #cf89cf

! cyan
*.color6:       #4ed4d4
*.color14:      #68efef

! white
*.color7:       #bebebe
*.color15:      #f7f5f5

! alpha
*.alpha:        0.1

! font
*.font:         Terminus:pixelsize=15.5:antialias=true:autohint=true;

!! DWM
dwm.nmaster: 1
dwm.font: Terminus:size=8
dwm.col_background: #222222
dwm.col_backgroundmid: #222222
dwm.col_textnorm: #bbbbbb
dwm.col_textsel: #eeeeee
dwm.col_windowbordersel: #5757ff
dwm.col_windowbordernorm: #5757ff
dwm.borderpx: 1
dwm.snap: 32
dwm.showbar: 1
dwm.topbar: 1
dwm.resizehints: 0
dwm.mfact: 0.50

!! URXVT
URxvt.font: xft:Terminus:style=Mono:pixelsize=15.5:antialias=true:autohint=false
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.clipboard.autocopy: true
URxvt.iso14755: false
URxvt.cursorBlink: true

